#receipt {
    width: 435px;
    border-width: 2%;
    border-style: solid;
    border-color: antiquewhite;

    padding: 20px;
    border-radius: 10px;
    margin-left: 34%;
    margin-top: 5%;

    #header{
        background-color: antiquewhite;
        width: 100%;
    }
    #sum{
        background-color: antiquewhite;
    }
    label{
        font-weight: bold;
    }
}