a{
    background-color: rgb(231, 184, 122);
    width: 130px;
    height: 40px;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
div{
    display: flex;
}
