form {
    width: 35%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Microsoft Sans Serif';

    h1 {
      text-align: center;
      color: #333;
    }
  
    #receiptNum{
     font-weight: bold;
    }

    #receiptNumber{
      font-size: larger;
      font-weight: bolder;
    }
    label {
      color: #333;
    }
  
    input, select {
      width: 100%;
      padding: 5px;
      margin: 5px 0;
    }
  
    select {
      appearance: none;
      width: 102.5%;
    }
  
    option {
      color: #333;
    }
  
    input[type="submit"] {
      padding: 10px 20px;
      background-color:  rgb(14, 247, 96);
      color: #030303;
      font-weight: bolder;
      font-size: larger;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  