<form [formGroup]="myForm" (submit)="save()">
    <h1>Receipt</h1>
    <p>
        <label id="receiptNum">Reception number:  </label>
        <span id="receiptNumber"> {{receiptNum}}</span>
    </p>
    <p>
        <label>Date</label>
        <br>
        <input type="date" formControlName="date">
        <br><br>
        <label [innerText]="getStartDateErrorString()"></label>
        <br><br>
        <label>Description</label>
        <br>
        <input type="text" formControlName="description">
    </p>
    <p>

        <label>Customer name</label>
        <br>
        <select formControlName="customerName">
            <option *ngFor="let c of customers" value="{{c.name}}">{{c.name}}</option>
        </select>
    </p>
    <p>
        <label>Amount</label>
        <br>
        <input type="number" formControlName="sum">
        <br><br>
        <label>Payment method</label> 
        <br>
        <select formControlName="paymentMethods">
            <option value="cash">cash</option>
            <option value="credit">credit</option>
            <option value="check">check</option>
        </select>

    </p>
    <p>
        <input type="submit"  value="Save">
    </p>
</form>